
 {% extends "Control_System/layouts/home_base.html" %}
 {% block content %}
 <div class=" w3-container "  style="background-image:url(images/ra2.png); background-repeat:no-repeat; background-size:cover;height:auto;">  
    <div id="lside" class="w3-col m2 w3-light-grey w3-center w3-animate-left  w3-card-2">
        <h3 class="note w3 "><strong>Experiments</strong></h3>
        <ul class="w3-ul w3-hoverable  "><h6 class="note1 ">
            <li><a class="link" href={%url 'objective'%}>Time Response</a></li>
            <li><a class="link" href={%url 'objective1'%}>Roots of the Characteristics Equation</a></li>
            <li><a class="link" href={%url 'objectiverl'%}>Root Locus</a></li>
            <li><a class="link" href={%url 'objectivenqst'%}>Nyquist Plot</a></li>
            <li><a class="link" href={%url 'objective2'%}>Bode Plot</a></li>
            <li><a class="link" href={%url 'objectivepid'%}>PID Control</a></li>
            <li><a class="link" href={%url 'objectivef'%}>Feedback Transfer Function</a></li>
            <li><a class="link" href={%url 'objectivesp'%}>Series-Parallel Transfer Function</a></li>
            <li><a class="link" href={%url 'objectivessp'%}>State Space Model</a></li>
        </h6></ul> 
    </div>
    
</div>
 {% endblock %}
