
 {% extends "Roots/layouts/base2.html" %}
 {% block content %}
<h3>Simulation:</h3>
<form method=post action="">{% csrf_token %}
<table>
  {% for field in form %}
    <tr>
    <td>{{ field.name }}</td>
    <td>{{ field }}</td>
    <td>{{ field.label }}</td>
    <td>{{ field.errors }}</td>
    <td></td>
    </tr>
  {% endfor %}
</table>
<p id="in"><input type=submit value='Compute' name="Compute">
</form></p>
<p>
{% if result != None %}
{%load static%}
<img id='result' src="{% static 'Result.png' %}" >
{% endif %}
</p>

{% endblock %}
